<!--<p> I created a component through terminal - Command is ng generate component component_name / ng g c component_name</p>-->
<!--<app-server></app-server>-->

<!--<button class="btn btn-primary"-->
<!--[disabled]="allowNewServer">Add Server</button>-->
<label>Server Name</label>
<!--<input type = "text" class="form-control" (input)="updateServerName($event)">-->

<input type = "text" class="form-control"
       [(ngModel)]="serverName">
<!--<p>{{serverName}}</p>-->
<button class="btn btn-primary"
        [disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>

<p *ngIf="isServerCreated">Server was Created, and its name is {{serverName}}</p>

<!--<p *ngIf="isServerCreated else serverStatusElse">Server was Created, and its name is {{serverName}}</p>-->
<!--<ng-template #serverStatusElse>-->
<!--  <p>Server is not created.</p>-->
<!--</ng-template>-->
<!--<p [ngStyle]="{'background-color':getColor()}"-->
<!--   [ngClass]="{online: getServerStatus() === 'Online'}"-->
<!--&gt; Server is {{getServerStatus()}} </p>-->
<app-server *ngFor="let server of serverList"></app-server>

<!--<app-server></app-server>-->
<!--<p>{{serverCreationStatus}}</p>-->
<!--<p [innerText]="allowNewServer"></p>-->

