<!--<p> I created a component through terminal - Command is ng generate component component_name / ng g c component_name</p>-->
<!--<app-server></app-server>-->

<!--<button class="btn btn-primary"-->
<!--[disabled]="allowNewServer">Add Server</button>-->
<label>Server Name</label>
<input type = "text" class="form-control" (input)="updateServerName($event)">

<input type = "text" class="form-control"
       [(ngModel)]="serverName">
<p>{{serverName}}</p>
<button class="btn btn-primary"
        [disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>

<p>{{serverCreationStatus}}</p>
<p [innerText]="allowNewServer"></p>

